header{
    background: white;
    padding: 0;
    border-bottom: 1px solid gray;
}

a {
    color: rgb(95, 53, 3);
}
a:hover{
    background: #006d9b;
    color: silver;
    
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;

}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}
